# Ignore specific LaTeX auxiliary files
*.fdb_latexmk
*.aux
*.fls
*.log
*.synctex.gz
*.png


# Keep PDF files
/home/illy/Documents/sup/s2/solved_problem_sets.pdf

# Keep README files
# Keep directory structure
/home/illy/Documents/sup/s2/solved_problem_sets/
